body {
 	background-color: #FAEBD7;
 }

 h1, h2, h3, h4, h5, h6, p {
 	font-family: 'Helvetica', serif;
 	font-weight: bold;
 }
 
 .head-text {
 	font-size: 125px;
 	transform: rotate(2deg);
 	padding-top: 20px;
 }

 .student-text {
 	font-size: 100px;
 	transform: rotate(350deg);
 	position: fixed;
 	color: white;
 	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
 }

 .m-logo {
 }

 .engineer-text {
 	font-size: 100px;
 	transform: rotate(1deg);
 	position: fixed;
 	color: red;
 	-webkit-text-stroke-width: 8px;
   	-webkit-text-stroke-color: orange;
 }

  .designer-text {
 	font-size: 100px;
 	transform: rotate(-20deg);
 	position: fixed;
 	color: purple;
 	text-decoration: line-through;
 	letter-spacing: 2px;
 	padding-top: 35px;
 }